


@font-face { font-family: CourierPrime; src: url(./fonts/courier_prime.ttf); }
@font-face { font-family: CourierPrime; font-style: italic; src: url(./fonts/courier_prime_italic.ttf); }
@font-face { font-family: CourierPrime; font-weight: bold; src: url(./fonts/courier_prime_bold.ttf); }
@font-face { font-family: CourierPrime; font-style: italic; font-weight: bold; src: url(./fonts/courier_prime_italic_bold.ttf); }


body {
    background-color: #000000;

    font-family: CourierPrime;
    font-size: 12pt;
    color: #ffffff;
    margin-top: 5%;
    overflow-x: hidden;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

p {
    max-width: 800px;
    margin: auto;
}


.ascii-art {
    display: flex;
    justify-content: center;
    margin: auto;
    white-space: pre;
    overflow-x: hidden;
}

.centered {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
    overflow-x: hidden;
}
